#root,
body,
html {
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  height: 100%;
}


.App-header {
  height: 80px;
  width: calc(100% - 350px);
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  position: fixed; /* Added */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 0px 0px #fcfcfc03;
  opacity: 0.8;
  z-index: 20;
}
